<div class="text-center">
<div class="form-signin" id="container">
  <form class="login-form">
    <img class="mb-4" ngSrc="assets/images/logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Effettua la registrazione</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="Username" formControlName="email" >
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="accept"> Accetto i <a
        href="https://eur-lex.europa.eu/legal-content/IT/TXT/?uri=uriserv:OJ.L_.2016.119.01.0001.01.ITA&toc=OJ:L:2016:119:TOC">Termini e Condizioni</a>
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Registrati</button>
  </form>
</div>
</div>
