<html class="text-center">
<body class="form-signin">
  <form class="login-form">
    <img class="mb-4" ngSrc="assets/images/logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Effettua il login</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="Username" [(ngModel)]="user" required>
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="password" required>
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me" [(ngModel)]="remember" > Ricordami
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
    <p class="mt-5 mb-3 text-muted">© 2025</p>
  </form>
</body>
</html>
